.grid {
    display: grid;
    background: inherit;
    flex-shrink: 0;
}

.cell-0, .cell-1, .cell-2, .cell-3, .cell-4, .cell-5 {
    margin: 0.1rem;
    border-radius: 24%;
}

.cell-0 {
    background-color: #212024;
}

.cell-1 {
    background-color: #FFFFFF;
}

.cell-2 {
    background-color: #D92525;
}

.cell-3 {
    background-color: #D98425;
}

.cell-4 {
    background-color: #D98425;
    opacity: .30;
}

.cell-5 {
    background-color: dodgerblue;
}

.cell-10, .cell-11, .cell-12, .cell-13, .cell-14, .cell-15 {
    margin: 0.1rem;
    border-radius: 24%;
}

.cell-10 {
    background-color: #3BACD9;
}

.cell-11 {
    background-color: #82D930;
}

.cell-12 {
    background-color: #9379FF;
}

.cell-13 {
    background-color: #CA50D9;
}

.cell-14 {
    background-color: #D98425;
}

.cell-15 {
    background-color: #D9CF25;
}

.cell-102, .cell-112, .cell-122, .cell-132, .cell-142, .cell-152 {
    border: 0.2rem solid #D92525;
    border-radius: 24%;
}

.cell-102 {
    background-color: #3BACD9;
}

.cell-112 {
    background-color: #82D930;
}

.cell-122 {
    background-color: #9379FF;
}

.cell-132 {
    background-color: #CA50D9;
}

.cell-142 {
    background-color: #D98425;
}

.cell-152 {
    background-color: #D9CF25;
}