.radio-input {
    position: relative;
    display: flex;
    align-items: stretch;
    border-radius: 0.4rem;
    background-color: #212121;
    color: #fff;
    overflow: hidden;
    gap: 0.5rem;
}

.radio-input input {
    display: none;
}

.radio-input label {
    
    width: fit-content;
    flex: 0 0 auto;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 0.75rem;
    user-select: none;
}

.selection {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.15s ease;
}

.radio-button.selected,
.radio-button.best {
    margin: -0.25rem;
    padding: 0.5rem 0.75rem;
}

.radio-button.selected {
    background-color: rgba(209, 209, 209, 0.5);
    color: #212121;
}

.radio-button.best {
    background-color: #3BACD9;
}