.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2vh;
}

.grid-row {
    margin-left: 2vw !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;   
}