.nav {
    width: 100%;
}

.nav-list {
    gap: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-item button {
    border: none;
    white-space: break-spaces;
    background-color: transparent;
    color: #d1d1d1;
    font-size: 0.8vw;
    cursor: pointer;
    user-select: none;
}

.nav-item button:hover {
    color: rgba(209, 209, 209, 0.5);
}

.nav-item button.active {
    background-color: rgba(209, 209, 209, 0.5);
    color: #2C2D30;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
    padding: 1.5rem; 
}