.buttons-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh 1vw;
}

.button-down, .button-up {
    background-color: #212024;
    border: none;
    cursor: pointer;
    height: 5vh;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-down {
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
}

.button-up {
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
}

.resize-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 12rem;
}

.resize-container p {
    text-align: center;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem;
    user-select: none;
    background-color: #D1D1D1;
}

.commands-container {
    background-color: #212024;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 12rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.commands-container button {
    background-color: inherit;
    padding: 0;
    color: #D1D1D1;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    height: 5vh;
    width: 10rem;
    display: flex;
    align-items: center;
    user-select: none;
}

.commands-container svg, .button-up svg, .button-down svg{
    transition: transform 0.3s;
}

.commands-container:hover svg, .button-up:hover svg, .button-down:hover svg {
    transform: scale(1.2);
}

.generate-button {
    transition: transform 0.3s ease-in-out;
}

.generate-button:hover svg {
    transform: scale(1.2) rotate(90deg) !important;
}

.commands-container:hover button {
    color: rgba(209, 209, 209, 0.5);
}

@media (max-width: 500px) {
    .buttons-group {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media (min-width: 840px) and (max-height: 690px) {
    .buttons-group {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}