.buttons-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 0.75rem;
}

.button-down, .button-up {
    background-color: #212024;
    border: none;
    cursor: pointer;
    height: 2.5rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-down {
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
}

.button-up {
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
}

.resize-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 12rem;
}

.resize-container p {
    text-align: center;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem;

    background-color: #D1D1D1;
}

.commands-container {
    background-color: #212024;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 12rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.commands-container button {
    background-color: #212024;
    padding: 0;
    color: #D1D1D1;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    height: 2.5rem;
    width: 10rem;
    display: flex;
    align-items: center;
}


@media (max-width: 500px) {
    .buttons-group {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 840px) and (max-height: 660px) {
    .buttons-group {
        grid-template-columns: repeat(4, 1fr);
    }
}