.footer {
    background-color: #212024;
    display: flex;
    align-items: flex-end;
    padding: 0.75rem;
}


.footer-span p {
    font-weight: 400;
    font-size: 0.8em;
    line-height: 100%;
    color: #FFFFFF4D;
    user-select: none;
}

.footer svg {
    margin-inline: 0 0.5em;
}