.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

.content {
    flex: 1;
}

.main-content {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    max-height: 78vh;
}

@media (max-width: 510px) or (max-height: 615px) {
    .main-content {
        margin-top: 1rem;
    }
}